<div class="jumbotron">
  <div class="container">
    <div class="col-lg-4">
      <h1 class="display-3">Fashion Week is Here!</h1>
      <p>A fashion week is a fashion industry event, lasting approximately one week, where fashion designers, brands or
        "houses" display their latest collections in runway fashion shows to buyers and the media.
      </p>
      <app-shop-now-button></app-shop-now-button>
    </div>
  </div>
</div>