<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-dark bg-dark">
      <div class="col-1">
        <app-logo></app-logo>
      </div>
      <div class="col-8">
        <app-search></app-search>
      </div>
      <div class="col-3">
        <app-navbar-icons></app-navbar-icons>
      </div>
    </nav>
  </div>
</div>