<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="display-4 mt-25 mb-10">{{product.name}}</div>
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" [src]="'../../assets/images/products/' + product.thumbnailImage" alt="Card image cap">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <h3 class="text-primary display-4">{{product.price}}$</h3>
        <div class="row">
          <div class="col-5">
            <fa-icon *ngFor="let n of getArray(product.rating)" [icon]="faStar" class="fa-lg fa-gold"></fa-icon>
            <fa-icon *ngFor="let n of getDifferenceArray(product.rating, 5)" [icon]="faStar" class="fa-lg fa-grey">
            </fa-icon>
          </div>
          <div class="col-4">
            <fa-icon [icon]="faUser" class="fa-lg fa-grey"></fa-icon>
            {{product.reviewersCount}}
          </div>

        </div>
        <p class="card-text mt-25">{{product.detailedDescription}}</p> <br>
        <button type="button" class="btn btn-lg btn-primary">
          <fa-icon [icon]="faCartPlus"></fa-icon> ADD TO CART
        </button>
        <button type="button" class="btn btn-lg btn-outline-secondary ml-10">
          <fa-icon [icon]="faHeart"></fa-icon> BUY LATER
        </button>
      </div>
    </div>
  </div>
</div>