<!-- purple x moss 2020 -->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="mainbox">
    <div class="row">
      <div class="err">4</div>
      <fa-icon [icon]="faQuestionCircle" class="far fa-spin fa-lg fa-white"></fa-icon>
      <div class="err2">4</div>
    </div>

    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
      <p>Let's go <a href="#">
          <fa-icon [icon]="faHome" class="fa-spin fa-lg fa-white"></fa-icon>
        </a> and try from there.</p>
    </div>
  </div>