<div class="btn-group">
  <button type="button" class="btn btn-md btn-outline-primary"
    [ngStyle]="{ 'color': addToCartColor, 'borderColor': addToCartColor }">
    <fa-icon [icon]="faCartPlus"></fa-icon> ADD TO CART
  </button>
  <button type="button" class="btn btn-md btn-outline-primary"
    [ngStyle]="{ 'color': wishListColor, 'borderColor': wishListColor }">
    <fa-icon [icon]="faHeart"></fa-icon>
  </button>
</div>