<button class="btn btn-primary btn-lg" role="button"
  [ngStyle]="{ 'background-color': buttonBackgroundColor, 'font-family': buttonFont }">Shop
  Now <fa-icon [icon]="faShoppingCart">
  </fa-icon>
</button>