<ng-template #productItemTemplate let-product="product">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" [src]="'../../assets/images/products/' + product.thumbnailImage" alt="Card image cap">
    <a (click)="navigateToProductDetail(product)" id="productName">
      <div class="card-header bg-primary fa-white">{{product.name}}</div>
    </a>
    <div class="card-body">
      <p class="card-text">{{product.description}}</p>
      <div class="row">
        <div class="col-5">
          <fa-icon *ngFor="let n of getArray(product.rating)" [icon]="faStar" class="fa-md fa-gold"></fa-icon>
          <fa-icon *ngFor="let n of getDifferenceArray(product.rating, 5)" [icon]="faStar" class="fa-md fa-grey">
          </fa-icon>
        </div>
        <div class="col-4">
          <fa-icon [icon]="faUser" class="fa-sm fa-grey"></fa-icon>
          {{product.reviewersCount}}
        </div>

      </div>
      <p class="card-text"></p>

      <div class="d-flex justify-content-between align-items-center">
        <app-add-to-cart-button></app-add-to-cart-button>
        <h6><s> {{product.price}}$
          </s></h6>
        <h5 class="text-primary">{{product.price - (product.price * (product.discount/100))}}$</h5>
      </div>
    </div>
  </div>
</ng-template>

<div class="album py-5 bg-light" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let productObj of products">
        <ng-container [ngTemplateOutlet]="productItemTemplate" [ngTemplateOutletContext]="{ product:productObj}">
        </ng-container>
      </div>
    </div>
  </div>
</div>