<a class="navbar-brand" href="#" routerLink="">
  <fa-icon [icon]="faShoppingCart" [ngStyle]="{ 'color': logoIconColor, 'font-size': logoFontSize + 'px' }"></fa-icon>
  <span [ngStyle]="{ 'color': logoTextColor, 'font-size': logoFontSize + 'px' }"> i-shop </span>
</a>