/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}


.fa-black{
  color: black;
}

.fa-gold{
  color: goldenrod;
}

.fa-grey{
  color: grey;
}


.fa-white {
  color: white;
}

.mt-25 {
  margin-top: 25px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}

.ml-10 {
  margin-left: 10px !important;
}