<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
    [placeholder]="searchPlaceholderText">
  <button class="btn btn-primary" type="submit" [ngStyle]="{'background-color': buttonBackgroundColor}">Search</button>
</form>