<div class="offset-6">
  <a href="#">
    <fa-icon [icon]="faShoppingCart" class="fa-lg fa-white offset-2" [ngStyle]="{ 'color': shoppingCartIconColor }">
    </fa-icon>
  </a>
  <a href="#">
    <fa-icon [icon]="faHeart" class="fa-lg fa-white offset-2" [ngStyle]="{ 'color': wishListIconColor }"></fa-icon>
  </a>
  <a href="#">
    <fa-icon [icon]="faUser" class="fa-lg fa-white offset-2" [ngStyle]="{ 'color': userIconColor }"></fa-icon>
  </a>
</div>